---
import type { CollectionEntry } from "astro:content";

import DateTime from "./DateTime.astro";
import Tags from "./Tags.astro";

interface Props {
  articles: CollectionEntry<"articles">[];
}

const { articles } = Astro.props;
---

{ articles.map(article => (
  <article>
    <a class="raw" href={`/articles/${article.id}`}>
      <header class="unrhythmic">
        <small>Published on <DateTime date={article.data.published} /></small>
        <h3>{article.data.title}</h3>
      </header>

      <p>{article.data.description}</p>
    </a>

    <Tags tags={article.data.tags} />
  </article>
)) }

<style>
  a:hover h3 {
    color: var(--accent);
    text-decoration: underline;
  }
</style>
